.AllMain {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
  'h h'
  'n m'
  ;

  grid-template-columns: 2fr 20fr;
  grid-template-rows: 60px 8fr;
  grid-gap: 10px;
}

.Header {
  grid-area: h;
  background-color: rgb(149, 255, 149);
}





.ImgBack {
  height: 200px;
  width: 100%;
}

.ImgLogo {
  margin: 5px 10px;

  height: 100px;
  width: 100px;
}

.ImgLogoHeader {
  margin: 5px 5px;

  height: 50px;
  width: 50px;
}


.ImgPosts {
  margin: 5px 5px;

  height: 25px;
  width: 25px;
}



