#header {
    justify-content: center;
    display: flex;
}

.nav_list {
    padding-right: 35px;
    display: flex;
    justify-content: center;
}

.nav {
    padding: 0px;
    padding: 0px 50px;
    margin: 0px;
    margin: 0px 10px;
    background-color: rgb(159, 241, 159);
}

li {
    padding-left: 10px;
    list-style-type: none;
}

.main {
    margin: 30px 40px;
}

.gal {
    justify-content: center;
    display: flex;
}

.img {
    height: 200px;
}