@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: max(100vh, 100%);
    /* height: 100%; */
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

#footer {
    bottom: -74px;
}