

.disheCardImg {
    height: 140px;
    width: 140px;
    background-color: #F8F7F5;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.disheCardName {
    height: 20%;
    width: 100%;
    text-align: center;
    justify-self: end;
}

.disheCard {
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    max-width: 160px;
}