a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

a:focus {
    color: rgb(135, 135, 234);
    text-decoration: none;
}

a:hover {
    color: rgb(176, 176, 255);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
}

body {
    background: #edf9ff;
}

.wallpaper {
    object-fit: none;
}