.productsWrapper {
    width: 97vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

}

.pages {
    position: fixed;
    bottom: 10px;
    left: 50vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.page {
    cursor: pointer;
    margin: 10px;
}

.active {
    color: rgb(116, 116, 196);
}

.productses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.mancifacturerNameList {
    color: white;
}

.mancifacturerNameList:hover {
    color: rgb(155, 156, 255);
}