.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-size: 28px;

}

.cardInfoAll {
    font-size: 18px;
    display: flex;
    width: 60%;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    width: 60%;
}

.cardInfoImg {
    width: 15%;
    height: 100%;
}

.cardInfoCommon {
    display: flex;
    
}

.cardInfoName {
    display: flex;
    flex-direction: column;
}

.cardInfoPrice {}

.cardInfoWeight {
    margin-left: 10px;
}

.cardCount {
    border-radius: 10px;
    display: flex;
    width: 40%;
    user-select: none;
    padding: 20px;
}

.increment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #EFEEEC;

}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #EFEEEC;

}

.decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: #EFEEEC;

}