ul {
    z-index: 10000;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
    position: relative;
    color: black;
    background-color: white;
    margin-top: 5px;
    width: 90%;
    height: 100px;
    overflow: auto;
    transition: visibility 1s ease-out;
    padding: 0;
}

li {
    list-style-type: none;
}