#header {
    font-size: 2em;
    margin: 10px 10px;
    padding: 0;
    text-align: center;
    padding: 5px;
    padding-bottom: 5px;
    background-color: #ddd;
}

.card  {
    font-size: 2em;
    margin: 10px 0px;
    padding: 0;
    text-align: left;
    padding: 5px;
    padding-bottom: 5px;
    background-color: #ddd;
}