body {
    padding: 0;
    margin: 0;
}

.headerWrappe {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212121;
}

.user {
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-self: center;
}