@tailwind base;
@tailwind components;
@tailwind utilities;


body, 
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
html * /* override x.xhtml.ru style */ 
{
  /* scrollbar-width: thin;
  scrollbar-color: blue orange; */
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
}


