.scrollBar::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: white;
    /* цвет дорожки */
}


.boxCrolling {
    box-sizing: border-box;
    border-left: 2px solid rgb(59 130 246);
    border-right: 2px solid rgb(59 130 246);
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: black;
    /* цвет плашки */
    border-radius: 20px;
    border: 3px solid white;
}

.hiddenBar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hiddenBar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /* цвет дорожки */
}

.hiddenBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}
