.wrap {
    display: none;
}

.users {
    width: 25%;
    max-height: max-content;
    background-color: rgba(27, 27, 27, 0.822);
    border-right: 2px solid rgba(224, 224, 224, 0.281);
    border-left: 2px solid rgba(224, 224, 224, 0.281);
    border-bottom: 2px solid rgba(224, 224, 224, 0.281);
}

.rooms {
    width: 100%;
    height: 80vh;
}

.addRomms {
    width: 100%;
    height: 10vh;
}

.cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 65%;
}

.active {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.content {
    background-color: rgb(116, 88, 88);
    width: 50%;
    height: 35%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.box {
    font-size: 18px;
    width: 85%;
    height: 100%;
}

.OwnPost {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.options {
    transform: translateY(-10px);
    position: absolute;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.show {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
}

.post {
    order: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;

}


.posts {
    width: 100%;
}

.buttonSub {
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
    border: 0;
    height: 5vh;
    width: 20%;
    color: white;
    cursor: pointer,
}

.listRooms {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.InputSub {
    outline: none;
    color: white;
    box-sizing: border-box;
    height: 5vh;
    border: none;
    background-color: rgb(46, 46, 46);
    width: 80%;
}

.Send {
    width: 50%;
    height: 20px;
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin: 0 10px;
}

.info {
    display: flex;
    flex-direction: row;
}

.infoArg {
    display: flex;
    flex-direction: column;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.OwnImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.link {
    text-decoration: none;
    color: white;
}