html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    /* "auto" или "thin" */
    scrollbar-color: #1d1d1d #e2e2e2;
    /* цвет бегунка и зоны отслеживания */
}

:root {
    --black: rgb(31, 31, 31);
    --white: rgb(255, 255, 255);
    --gray: rgb(172, 172, 172);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e2e2e2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a8989;
}



main {
    width: 100%;
    height: 93%;
}

button {
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    transition: all 300ms ease;
}

button:hover {
    display: block;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 5px;
}

input {
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(110, 110, 110);
    border-radius: 8px;
    padding: 5px;
}

select {
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(102, 102, 102);
}

textarea {
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
    padding: 5px;
    resize: vertical;
}

img {
    background-color: transparent;
}

a {
    color: inherit;
    transition: all 300ms ease-in;
}

a:hover {
    color: rgb(172, 172, 172);
}

.error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    animation: show 2s ease-in;
    font-size: 26px;
}

@keyframes show {
    from {
        top: -40px;
    }

    to {
        top: 0;
    }
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1d1d1d;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: 7%;
    font-size: x-large;
    z-index: 50;
}

.header_search {
    width: 40%;
    display: flex;
    gap: 10px;
}

.header_search_input {
    background-color: var(--white);
    color: var(--black);
    width: 70%;
}

.header_search_button {
    width: 30%;
}

.wrapper_addPost {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_post {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
}

.add_post label {
    display: block;
    width: 100%;
    margin: 0 auto;

}

.add_post input {
    display: block;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
}

.add_post textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.add_post button {
    width: 100%;
}

.icon_user {
    height: 50px;
    width: 50px;
    display: block;
    background-image: url("../assets/user.png");
    background-size: cover;
}

.icon {
    /* width: 100%; */
    height: 100%;
}

.icon_post_id {
    width: 100%;
    height: 100%;
}

.post_list {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5%;
}

.post {
    padding: 15px;
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    gap: 15px;
    height: 17vh;
    max-height: 20%;
    width: 100%;
    border-radius: 8px;
    justify-content: center;
}

.post_body {
    overflow: hidden;
    text-overflow: clip;
    height: 37%;
}

.post_info {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.post_info_id {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post_info_list {
    width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
}

.post_author_name {
    font-size: 16px;
    height: min-content;
}

.post_heading {
    font-size: 22px;
}

.post_like {}

.post_like:hover {
    color: rgb(66, 66, 66);
}

.post_date {
    font-size: 12px;
    color: rgb(121, 121, 121);
}

.post_wrapper {
    display: flex;
    height: 15%;
    gap: 30px;
    padding: 20px 20vw 20px 20vw;
    border-bottom: 1px solid var(--black);
}

.message {
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.message_wrapper {
    width: 60%;
}

.message_wrapper_input {
    display: flex;
    gap: 20px;
}

.message_info {
    margin: 0 0 20px 0px;
}

.message_info form {
    display: inline;
}

.message_img {
    height: 50px;
    width: 50px;
}

.add_post_link_wrapper {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_post_link {
    font-size: 28px;
}


.message_input_actios {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.message_input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message_input_input {
    width: 97%;
}

.comment_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment_user_image {
    width: 40px;
    height: 40px;
}

.comment_info {
    display: flex;
    gap: 10px;
}

.comment_wrapper {
    width: 60%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.comment_delete_message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_delete_message_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment_delete_message_button:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile_wrapper {
    display: flex;
    width: 100%;
    height: 93%;
    justify-content: center;
    align-items: center;
}

.profile {
    height: 35%;
    width: 40%;
    padding: 30px;
    background-color: #f7f7f7;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.profile_info {
    width: 100%;
    height: 150px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile_info_image {
    width: 150px;
    height: 150px;
}

.profile_info_about {
    height: 150px;
}

.profile_info_about_bio {
    word-break: break-all;
    overflow: auto;
    height: calc(100% - 50px);
}

.profile_action {
    display: flex;
    justify-content: space-between;
}

.form_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    height: 30%;
    width: 20%;
    padding: 30px;
    background-color: #f7f7f7;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.form_input_div {
    margin-bottom: 10px;
}

.form_input_div input {
    width: 95%;
}

.form button {
    margin-top: 10px;
}

.form_register {
    height: 60%;
    width: 20%;
    padding: 30px;
    background-color: #f7f7f7;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.form_register button {
    margin-top: 10px;
}

.form_register textarea {
    width: 95%;
    /* resize: none; */
    /* height: 70px; */
    max-height: 85px;
}

.staff {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.staff img {
    width: auto;
    height: 50vh;
}

.staff video {
    width: auto;
    height: 50vh;
}


.post_list_staff {
    width: 20%;
    height: auto;
    position: relative;
}

.post_list_staff img {
    width: auto;
    height: 100px;
}

.post_list_staff video {
    width: auto;
    height: 100px;
}