* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

a:hover { 
    color: rgb(131, 34, 34);
}

.linkBorder {
    text-align: center;
    font-size: 18px;
    width: 200px;
    height: 22px;
    margin: 5px;
}

.linkBorder:hover {
    border: 1px solid rgb(131, 34, 34);
}