.basWrapper {
    width: 98vw;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.bas{
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cardProd {
    background-color: #4B515D;
    width: 50%;
    height: min-content;
}

.busket {   
    font-weight: bold;
    font-size:x-large;
    margin: 10px;
    color: white;
    margin-left: 8%;
}

.confirm {
    height: 40px;
    background-color: #515e78;
    color: white;
    border: none;
    width: 100%;
    font-size: 18px;
    margin: 0;
}

.comSaleWrapper {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.commonSale {
    font-weight: bold;
    font-size: 22px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1vw;
}

.cross {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.order {
    width: 50%;
    height: min-content;
    margin-left: 10px;
    background-color: #4B515D;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;

}

.prod {
    margin: 20px;
    display: flex;
    flex-direction: row;
    height: 20vh;
    border-bottom: 1px solid #92b8d6;
    padding-bottom: 5px ;
}

.img {
    width: 30%;
    max-width: 130px;
}
