body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
/* Разукрашивание скрола:)  */
body::-webkit-scrollbar {
    width: 12px;              
}
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);    
}
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;  
    border: 3px solid;  
}
/* блок хедера */
.header {
    background-color: #000000;
    display: flex;
    height: 70px;
    /* padding: 25px 0 25px; */
    color: #ffffff;
}
/* Лого */
.logo {
    align-items: flex-end;
    height: 40px;
    margin-right: 0px;
    margin-right: 200px;
    padding-left: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Содержимое хедера */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
}
a {
    text-decoration: none;
    color: inherit;
}
#head {
    list-style: none;
    margin: auto;
}
.menu {
    display: flex;
    padding: auto;
}
.menu_item_1 {
    padding-left: 0;
    padding-right: 15px;
    color: #666666;
}
.menu_item_2 {
    padding-left: 15px;
    padding-right: 0px;
}
.menu_link {
    font-size: 24px;
    line-height: 29px;
}
/* Поисковая строка */
    * {box-sizing: border-box;}
    form {
        position: relative;
        width: 300px;
        margin: auto;
        height: 42px;
    }
    input {
        color: #ffffff;
        height: 42px;
        width: 0;
        padding: 0 42px 0 15px;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        background: transparent;
        transition: .4s cubic-bezier(0, 0.8, 0, 1);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    input:focus {
        width: 300px;
        z-index: 1;
        border-bottom: 2px solid #ffffff;
    }
    .button_serch {
        background: #000000;
        border: none;
        height: 42px;
        width: 42px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .button_serch:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #ffffff;
    }
/* Основа страницы */
main {
    background-color: #ffffff;
    display: block;
}
.main_1 {
    background-color: #000000;
    max-width: 440px;
    height: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right:  1px solid #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: sticky;
    top: 0;
}
.btn {
    color: #ffffff;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.main_element {
    padding: 15px 0 15px;
    align-items: center;
}
.main_2 {
    background-color: #ffffff;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 1px;
    margin: auto;
    display: block;
}
.main_text {
    max-width: 1200px;
    
}
.main_container {    
    /* padding-top: 30px;
    padding-bottom: 30px; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
        "a b b c c d d e e";
    align-items: start;
    border-radius: 10px;
}
#items_B {
    padding-top: 0;
    height: 100px;
}
#items_A {
    padding-top: 0;
}
.h1_text {
    display: flex;
    max-width: 1200px;    
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 15px;
    grid-area: a;
}
.main_container_1 {
    display: flex;
    max-width: 1200px;    
    grid-area: b;
}
.main_container_2 {
    display: flex;
    max-width: 1200px;    
    grid-area: c;
}
.main_container_3 {
    display: flex;
    max-width: 1200px;    
    grid-area: d;
}
.main_container_4 {
    display: flex;
    max-width: 1200px;    
    grid-area: e;
}
/* Футер */
.footer {
    background-color: #000000;
    display: flex;
    padding: 25px 0 25px;
    color: #000000;
}
.footer_items {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.btn:hover {
    background: #ffffff;
    color: #000000;
    transform: scale(1.45);
}

.searchMetods {

    width: 300px;
    height: 200px;
    
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 70px;
    right: 310px;
    padding-top: 0px;
    z-index: 1;
    background-color: #000000;
    color: white;
    transform: translate(0px, -1%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.searchMetods::-webkit-scrollbar {
    width: 0;
  }
   

.el:hover {
    color: #666666;
}

/* #search {
    margin-top: 15px;
} */



/* .button_serch {
    margin-top: 15px;
    
} */
/* .searchMetods .hide {
    display: inline-block;
} */


.hiden {
    width: 300px;
    position: absolute;
    top: 70px;
    right: 310px;
    padding-top: 0px;
    z-index: 1;
    background-color: #000000;
    color: white;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}


.wholeList li.sp {
    display: none;
}

.elevList {
    height: 18.6px;
}

.onyellow {
    color: rgb(223, 120, 120);
    transform: scale(1.25);
}   

.gray {
    background-color: #e9e9e9;
}   

.col {
    color: red;
}