.name {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    gap: 10px;
}

.user_cab {
    width: 120px;
}

.info {
    width: 80%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.img {
    border-radius: 50%;
}