body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw * 1vh);
}


.hiddenTableCss {
  display: flex;

}

::-webkit-scrollbar {
  display: none;
}

.openMenu {
  top: 0;

  height: 5vh;
  display: none;
  z-index: 10000;
  position: absolute;
  font-size: 50px;
  right: 10px;
}

.menu {
  position: absolute;
  top: 0;
  font-size: 16px;
  display: none;
  width: 100vw;
  height: 5vh;
  justify-content: center;
  transition: display 4s ease-in;
}

#menuElement {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

.menuWrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.menuWrapper > div {
  display: flex;
  align-items: center;

  flex-direction: column;
}


td { word-wrap:break-word; }

table {
  font-size: 14px;
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  height: max-content;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: none;
  animation: ani 0.3s forwards;
}



@keyframes ani {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.addBackground {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.spinner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000000;
}
.spinner .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.spinner .blob.top {
  top: 0;
  -webkit-animation: blob-top 1s infinite ease-in;
          animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
  top: 100%;
  -webkit-animation: blob-bottom 1s infinite ease-in;
          animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
  left: 0;
  -webkit-animation: blob-left 1s infinite ease-in;
          animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
  background: #000000;
  top: 0;
  -webkit-animation: blob-spinner-mover 1s infinite ease-in;
          animation: blob-spinner-mover 1s infinite ease-in;
}

.changeColor {
  background-color: #ffffffc6;
  position: absolute;
  display: none;
  color: #000000;
  z-index: 100000;
  justify-content: start;
  top: 4vh;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

.customInput {
  width: 100%;
  height: 4vh;
 
}

input {
  color: #000000;
  display: block;
  height: 20%;
  background-color: #ffffff00;
  background-clip: padding-box;
  border:0;
  outline:0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {outline: none;}

@-webkit-keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-webkit-keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@-webkit-keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}
@-webkit-keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}


.insertBgWrap {
  position: absolute;
  top: 0;
  background: rgba(226, 226, 226, 0.637);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

button {
  margin-top: 5px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
button:hover { background: rgba(255,255,255,.2); }
button:active { background: white; }

textarea {
  font-size: 12px;
  font-family: Arial;
  border-radius: 8px;
  resize: none;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  height: 40px;
  min-height: 40px;
  width: 400px;
  margin-bottom: 15px;
}

.insertBgWrap1 {
  position: absolute;
  top: 0;
  background: rgba(226, 226, 226, 0.637);
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mainInsertWrap {
  background:rgba(255, 255, 255) ;
  width: 100vw;
  height: 100vh;
}

.insertGroup {
  float: right;
}

.data {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  border: 1px solid rgba(243, 243, 243, 0.8);
  cursor: pointer;
}

tr,
th {
  padding: 10px 20px;
}


tbody tr:nth-child(odd) {
  background-color: rgba(243, 243, 243, 0.8);
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}

tbody th:nth-child() {
  width: 10px;
}

#widh {
  font-size: smaller;
}


.Five {
  height: 50px;
  margin-top: 50px;
  border-top: 1px solid #F3F3F3;
}

.roc {
  border-bottom: 1px solid #F3F3F3;
}

.topBor {
  border-top: 1px solid #F3F3F3;
}

#img {
  z-index: -1;
}

#body {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}


.red th,
td {
  border: 1px solid rgba(243, 243, 243, 0.8);
}

.red th:nth-child(odd) {
  background-color: rgba(243, 243, 243, 0.8);
}

.red th:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);

}

.hid {
  display: flex;
  margin-top: 40px;
  width: 70vw;
  height: max-content;
  justify-content: center;
  flex-direction: column;
}

.textGroup {
  width: 60vw;
  height: 20px;
  border: 1px solid black;
}

.groupsLists {
  margin-top: 0px;
  background-color: #e3e3e3;
  padding: 0;
}


#btn {
  position: relative;
  margin-top: 20px;
  top: 100%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-image: url("./Chopper.jpg");
  background-size: 100% 150px;
  background-repeat: no-repeat;
}


#img {
  position: fixed;
  margin-left: 24%;
  margin-right: 24%;
}


#chooseImg {
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100lvh;
  width: 100%;
}

#Ob {
  z-index: -1;
  visibility: hidden;
  height: 100%;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Anime {
  height: 40vh;
  width: 20vw;
  margin-left: 30px;
}

.Anime:first-child {
  margin-left: 0px;
}


@media (max-width: 450px) {
  table {
    width: 100%;
    margin-bottom: 10px;
    font-size: 8px;
  }

  .openMenu {
    font-size: 30px;
  }

  
  
  .menu {
    font-size: 14px;
  }

  .menuWrapper {
    width: 80%;
  }

  button {
    height: 20vw;
  }

  td,
  th {
    word-wrap:break-word;
    padding: 5px 10px;
  }
  
  tbody th:nth-child(1) {
    padding: 5px 10px;
    padding-right: 2px;
  }

    tbody th:nth-child(2) {
    padding-left: 0px;
  }

  tbody th:nth-child(3) {
    padding: 0;
  }

  #img {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .Five {
    height: 25px;
    margin-top: 25px;
  }

  #btn {
    height: 50px;
    width: 50px;
    background-size: 100% 60px;
  }

  .Anime {

    height: 150px;
    width: 100px;
    margin-left: 0px;
  }

  #Ob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 350px) {
  tbody th:nth-child(3) {
    font-size: 7px;
  }
}
