

body,
html {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#canvas {
    width: 70%;
}

.wrapperSpinner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.flipBottle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
}

#start {
    height: 5%;
    width: 100%;
}

.chat {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.bottle {
    position: absolute;
    transition: all 0.5ms;
    height: 50px;
    width: 15px;
    
}

#log {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}