html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-size: inherit;
}

li {
  list-style: none;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
}